<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="mirur.plugin.painterview.GlimpseArrayView"
            icon="icons/mirur.gif"
            id="mirur.views.Painter"
            name="Mirur Painter">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="mirur.plugin.statsview.ArrayStatsView"
            icon="icons/mirur.gif"
            id="mirur.views.Statistics"
            name="Mirur Statistics">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="mirur.views.Painter"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="mirur.views.Statistics"
               ratio="0.5"
               relationship="stack"
               relative="mirur.views.Painter">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mirur.plugin.MirurPreferencesPage"
            id="mirur.preferences.main"
            name="Mirur">
      </page>
   </extension>
   <extension
         id="mirur.preferences.initializer"
         point="org.eclipse.core.runtime.preferences">
         <initializer class="mirur.plugin.PreferencesInitializer"/>
   </extension>

</plugin>
